
body {
    font-family: Arial, sans-serif;
    background-color: #dcd7d7;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height so navbar isn't affected */
    text-align: center;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.register-container, .update-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}
        
input {
    width: 100%; /* Makes all inputs the same width */
    padding: 8px; /* Adds some padding for better appearance */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],[type="email"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the logo */
    font-size: 20px;
    font-weight: bold;
}

.logout-btn {
    width: 80px;
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-btn {
    width: 170px;
    padding: 8px 15px;
    background-color: rgb(129, 95, 239);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.submit-btn {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.delete-account-btn{
    width: 80px;
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.full-height {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
  }

  #logout-btn {
    padding: 5px 10px;
    line-height: 20px;
    margin-right: 15px;
}

.navbar {
    width: 100%;
    margin: 0;
}
