<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      
        <!-- The above 2 meta tags *must* come first in the head; any other head content must
          come *after* these tags -->
        <title>CS3103 Term Project Dashboard</title>
      </head>
      
<body class="container">
    <h2 class="mt-5">Welcome, {{ username }}!</h2>
    <p>You have successfully logged in.</p>
    <a href="/logout" class="btn btn-danger">Logout</a>
</body>
</html>
